<!doctype html>
<html lang="pt-br">

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <title>Cadastro</title>
    <link rel="stylesheet" href="/public/css/fichacadastro1.css">

</head>


<body class="#70C6C0.bg-gradient-primary">

    <img class="col-md-auto" id="logomed" src="/public/images/logomed.png">

    <form id="fog" action="/add-med" method="POST">
        <div class="container">

            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Nome</span>
                </div>
                <input class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-sm" type="text" name="nome">
            </div>

            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Sobrenome</span>
                </div>
                <input class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-sm" type="text" name="sobrenome">
            </div>

            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Data de Nascimento</span>
                </div>
                <input class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-sm" type="date" name="datNasc">
            </div>

            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">E-mail</span>
                </div>
                <input class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-sm" type="email" name="email">
            </div>

            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Senha</span>
                </div>
                <input class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-sm"  type="password" name="senha">
            </div>
            
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">CPF</span>
                </div>
                <input class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-sm" type="number" name="cpf">
            </div>

            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">RG</span>
                </div>
                <input class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-sm" type="number" name="rg">
            </div>

            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">CRM</span>
                </div>
                <input class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-sm" type="number" name="crm">
            </div>

            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Especialidade</span>
                </div>
                <input class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-sm" type="text" name="atuacao">
            </div>

            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Convênio</span>
                </div>
                <input class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-sm" type="text" name="convenio">
            </div>

            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Celular</span>
                </div>
                <input class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-sm" type="number" name="contato">
            </div>

            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Local de atendimento</span>
                </div>
                <input class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-sm" type="text" name="endereco">
            </div>

            <button type="submit" class="btn btn-primary">Cadastrar</button>
        


        </div>
    </form>



</body>