#logomed {
    margin-left: 140px;
    margin-top: 30px;
}

body {
    background-color: #70C6C0;
}
#buttons {
    margin-top: 100px;
}
#margens {
    margin-left: 300px;
    margin-right: 300px;
}
#buttonmedico{
    background-color: white;
    color: #808080;
}
#buttonpaciente {
    background-color: white;
    color: #808080;
}
